{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .no-decoration{ text-decoration: none; color: black; }
    .no-decoration div{ border: dotted 1px grey; padding: 20px; }
</style>

<div class="example-wrapper">
    <h1>New articles</h1>

    <a href="/post/new/post">
        <span>Create a Post</span>
    </a>

    {% for post in posts %}
        <a href="/post/{{ post.id }}" class="no-decoration">
            <div>
                <h2>{{ post.title }}</h2>
                <p>{{ post.content }}</p>
            </div>
        </a>
    {% endfor %}

</div>
{% endblock %}
